In [4]:
#sum of all the multiples of 3 or 5 below 1000
def func(n):
    
    s = 0
    
    for x in range(n):
        if x % 15 == 0:
            s += x
        elif x % 3 == 0 or x % 5 == 0:
            s += x
        else:
            continue
    return s

In [6]:
func(1000)

233168

In [7]:
#By considering the terms in the Fibonacci sequence whose values do not exceed four million,
#find the sum of the even-valued terms.
def new_func():
    
    s = 2
    a = 1
    b = 2

    while b < 4000000:
        
        a,b = b, a+b
        if (a+b)%2 == 0:
            s += a+b
    return s

In [8]:
new_func()

4613732

In [12]:
#What is the largest prime factor of the number 600851475143 ?
def true_if_less_than_3factors(j):
    
    s = 0
    for i in range(1, int(j**0.5)+1):
        if j % i == 0:
            s += 2
            
    if int(j**0.5)**2 == j:
        s -= 1
    
    return s < 3


def list_of_factors(n):
    lst = []
    for i in range(1, int(n**0.5)+1):
        if n % i == 0:
            lst.append(i)
            lst.append(int(n/i))
            lst.sort()
    
    return lst

In [13]:
num = int(input('Please enter the number: '))

result = list_of_factors(num)

res = list(filter(true_if_less_than_3factors, result))

print("The biggest prime number is ", res[-1])

Please enter the number: 600851475143
The biggest prime number is  6857

In [4]:
#Primes below number
def only_primes(n):
    
    s = 0
    lst2 = [2]
    for i in range(1,int(n+1)):
        for j in range(1,n+1):
            if i % j == 0:
                s += 1
        if s < 3:
            lst2.append(i)
        else:
            s=0
    lst2.sort()
    print (lst2, ' ')

In [5]:
only_primes(100)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [2]:
import timeit

In [30]:
stmt = '''
only_primes(100)
'''

In [31]:
setup = '''
def only_primes(n):
    
    s = 0
    lst2 = [2]
    for i in range(1,int(n+1)):
        for j in range(1,n+1):
            if i % j == 0:
                s += 1
        if s < 3:
            lst2.append(i)
        else:
            s=0
    lst2.sort()
    print (lst2, ' ')
'''

In [32]:
timeit.timeit(stmt,setup, number = 10)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

0.01693962500030466

In [44]:
import re
#Find the largest palindrome made from the product of two 3-digit numbers.
def palindrom():
    
    lst = []
    for i in range(900, 1000):
        for j in range(900, 1000):
            if str(i * j) == str(i * j)[::-1]:
                lst.append(i*j)
                
    return lst[-1]

In [45]:
palindrom()

906609

In [178]:
#What is the smallest positive number 
#that is evenly divisible by all of the numbers from 1 to 20?
def smallest_positive():
    
    '''lst = []
    s = -1
    for i in range(20,1,-1):
        lst.append([i])
        s += 1
        for j in range(2,21):
            k = True
            while k:
                if i % j == 0:
                    lst[s].append(j)
                    i = i/j
                    
                else:
                    k = False

    for g in lst[::-1]:
        g.pop(0)
    return lst[::-1]'''
    
    a = int(input())
    b = int(input())
    
    if a>b:
        while a != b:
            a,b = b, a-b
    else:
        while a != b:
            b,a = a, b-a
    return b

In [179]:
smallest_positive()

20
70

KeyboardInterrupt:

In [107]:
lst = list(range(2,21))

In [116]:
lst.clear()

In [167]:
lst = [(1,2,3),(4,5,6), (6,7,8)]

In [5]:
def func(a,n = int):
    if n == 0:
        return 1
    elif n % 2 == 1:
        return func(a, n-1)*a
    else:
        return (a**2, n//2)

In [6]:
func(3,3)

(9, 1, 9, 1, 9, 1)

In [14]:
N = int(input())

for i in range(N):
    a,b = map(int, input().split())
    print(a+b)

3
1 2
3
-2 5
3
7 16
23

In [13]:
input().split()

1 3 4 7 2 6

['1', '3', '4', '7', '2', '6']

In [34]:
a,b = map(int, input().split())
s = (a + b) * 2
print(s)

2 6
16

In [30]:
# print(f'{value:.numbers_after_period+f}') выводить число с желаемым количеством цифр после точки

In [32]:
a,b,c,d = map(float, input().split())
s = a+b+c+d
print(f'{s:.4f}')

1 2 3 4
10.0000

In [43]:
a = float(input())
if a%1 >= 0.5:
    print(round(a//1 + 1))
else:
    print(round(a // 1))
print(round(a//1))
if a%1 == 0:
    print(0)
else:
    print(round(a - a//1, 10))

234
234
234
0

In [22]:
x,y = map(int, input().split())
print(x-y)

10 4
6

In [5]:
round(abs(s - round(s//1 + 1)))

0

In [31]:
round(0.399, 4)

0.399

In [29]:
x = float(input())
print(round((x // 1) * 2))

12.958

24

In [45]:
a,b = map(float, input().split())
if a%1 == 0:
    print(0)
else:
    c = round(a - a//1, 10) * b
if c%1 >= 0.5:
    print(round(c//1 + 1))
else:
    print(round(c // 1))

12.1257 1000
126

In [46]:
a1, b1, a2, b2 = map(int, input().split())
print(abs(a1*b1 - a2*b2))

3 4 5 6
18

In [53]:
i = int(input())

while i != 0:
    print(i % 10, end = ' ')
    i //= 10

123
3 2 1

In [56]:
x,y = map(int, input().split())
print(f'{(x+y)/2:.2f}')

2 3
2.50

In [65]:
i = int(input())
x = i // 100
y = i % 100
print(y,x, sep='')

203
32

In [88]:
i = input()
l = [i[j] for j in range(len(i))]
x = l.pop(0)
l.append(x)
for g in l:
    print(g, end='')

203
032

In [89]:
x = int(input())
print(x//60)

150
2

In [90]:
x,y = map(int, input().split())
print(x%y)

5 2
1

In [93]:
x = int(input())
if x % 2 == 0:
    print('Yes')
else:
    print('No')

2
Yes

In [95]:
x,y = map(int, input().split())
print(max(x,y)* 2)

2 3
6

In [97]:
x = int(input())
if x % 2 == 0:
    print(round(x/2))
else:
    print(0)

10
5

In [102]:
x,y = input().split()
l = []
l.append(x)
l.append(y)
l.sort()
for i in l:
    print(i, end = ' ')

3 2
2 3

In [105]:
x = float(input())
if x % 1 == 0:
    print('Yes')
else:
    print('No')

12.5
No

In [107]:
a,b,c,d = map(int,input().split())
maximum = max(max(max(a,b),c),d)
minimum = min(min(min(a,b),c),d)
print(minimum, maximum)

1 2 3 4
1 4

In [108]:
x,y = map(int,input().split())
if x < 0 and y > 0:
    print('Yes')
else:
    print('No')

-10 100

TypeError: '<' not supported between instances of 'type' and 'int'

In [109]:
x,y = map(int,input().split())
if x > 0 and y > 0:
    print(1)
elif x > 0 and y < 0:
    print(4)
elif y > 0 and x < 0:
    print(2)
else:
    print(3)

2 -8
4

In [111]:
a,b,c = map(int, input().split())
if a + b > c and b + c > a and c + a > b:
    print('Yes')
else:
    print('No')

1 4 5
No

In [142]:
a = int(input())
m = 0
while a > 0:
    m = max(m,a%10)
    a //= 10
print(m)

0
0

In [239]:
def sum_or_difference(a):
    l = []
    s = 0
    r = a
    while r > 0:
        l.append(r%10)
        r //= 10
    for num in l:
        s += num
    if a ** 2 != s ** 3:
        f=0
        for item in l:
            f = abs(f-item)
        return ','
    else:
        return 'True', a

In [240]:
sum_or_difference(27)

('True', 27)

In [243]:
def test(func):
    for i in range(10000000,100000000):
        if func(i) == ('True', i):
            print(i)

In [244]:
test(sum_or_difference)

In [260]:
x = float(input())
if x == 1 or x == -1:
    print('No')
else:
    a = x+1
    b = x**2 + 4*x - 4
    c = x**2 - 1
    print(f'{(a*b+1)/c:.3f}')

2
8.333

In [254]:
def test(f):
    for i in range(2,100):
        print(f(i))

In [255]:
test(funv)

8.333
None
8.625
None
9.400
None
10.292
None
11.229
None
12.188
None
13.159
None
14.137
None
15.121
None
16.108
None
17.098
None
18.089
None
19.082
None
20.076
None
21.071
None
22.066
None
23.062
None
24.058
None
25.055
None
26.052
None
27.050
None
28.047
None
29.045
None
30.043
None
31.041
None
32.040
None
33.038
None
34.037
None
35.036
None
36.034
None
37.033
None
38.032
None
39.031
None
40.030
None
41.029
None
42.029
None
43.028
None
44.027
None
45.026
None
46.026
None
47.025
None
48.024
None
49.024
None
50.023
None
51.023
None
52.022
None
53.022
None
54.021
None
55.021
None
56.020
None
57.020
None
58.020
None
59.019
None
60.019
None
61.019
None
62.018
None
63.018
None
64.018
None
65.017
None
66.017
None
67.017
None
68.016
None
69.016
None
70.016
None
71.016
None
72.015
None
73.015
None
74.015
None
75.015
None
76.014
None
77.014
None
78.014
None
79.014
None
80.014
None
81.014
None
82.013
None
83.013
None
84.013
None
85.013
None
86.013
None
87.012
None
88.012
None
89.012
None
90.012
None
91.012
None
92.012
None
93.012
None
94.011
None
95.011
None
96.011
None
97.011
None
98.011
None
99.011
None
100.011
None
101.011
None
102.011
None
103.010
None
104.010
None

In [262]:
x = int(input())
a = x %10
b = x//10
if a == 0:
    print('No')
else:
    print(b//a)

21
2

In [265]:
a,b,c,d = map(int, input().split())
lst = []
for item in a,b,c,d:
    lst.append(item)
for num in lst:
    if num % 5 == 0:
        print(num, end = ' ')

5 30 2 15
5 30 15

In [266]:
x1,y1,x2,y2 = map(int, input().split())
if x1 == x2 or y1 == y2:
    print('Yes')
else:
    print('No')

3 1 1 2
No

In [268]:
a,b,c = map(int, input().split())
print(min(min(a,b),c), max(max(a,b),c))

2 5 1
1 5

In [270]:
a,b,c,d,e,f,g = map(int, input().split())
if a>b>c>d>e>f>g:
    print('YES')
else:
    print('NO')

1 2 3 4 5 6 7
NO

In [278]:
'abc'.split()

['abc']

In [279]:
'abc'[0]

'a'

In [282]:
lst = [1,2,3]
l = ['a', 'b', 'c']

In [ ]:
n #количество людей
k #количество остановок
s #люди которые остались после катой остановки
s = n
for i in range(7):
    s = s - n/2 - 1/2

In [300]:
t = int(input())
l = []
for i in range(t):
    k = int(input())
    f = 0
    for j in range(k):
        n = 2*f + 1
        f = n
    l.append(f)
for g in l:
    print(g)

2
1
3
1
7

In [309]:
n = int(input())
lst = []
for s in range(n-1):
    k = int(input())
    lst.append(k)
lst.sort()
lst2 = list(range(1,n+1))
for i in lst2:
    q = 0
    for j in lst:
        if i == j:
            q+=1
    if q == 0:
        print(i)

5
1
2
3
4
5

In [347]:
def adding(l_i_s_t):
    if len(l_i_s_t) == 1:
        return l_i_s_t[0]
    return l_i_s_t[0] + adding(l_i_s_t[1:])

In [351]:
adding([1,2,3,4,6,7,8,32,5,1])

69

In [3]:
lst = [1, 2, [3,4], [5,6]]

In [1]:
def factorial(n):
    
    if n == 1:
        return 1
    return (n * factorial(n-1))

In [5]:
factorial(6)

720

In [10]:
def fibon(number_of_last):
    
    very_first = 1
    second = 1
    if number_of_last == 0:
        return 1
    very_first,second = second, second+very_first
    fibon(number_of_last-1)
    return second

In [12]:
fibon()

2

In [13]:
def sum_of_int(n):
    
    if n == 0:
        return 0
    return n%10 + sum_of_int(n//10)

In [15]:
sum_of_int(45)

9

In [16]:
def another_sum(n):
    
    if n == 0:
        return 0
    return n + another_sum(n-2)

In [17]:
another_sum(6)

12

In [18]:
def power(n,m):
    
    if m == 0:
        return 1
    return n*power(n,m-1)

In [19]:
power(3,4)

81

In [66]:
def gcd(n,m):
    
    if m == 0:
        return n
    return gcd(m,n%m)

In [67]:
gcd(175,10)

5

In [34]:
from collections import Counter

In [40]:
Counter('sdasdgadfv')

Counter({'s': 2, 'd': 3, 'a': 2, 'g': 1, 'f': 1, 'v': 1})

In [56]:
s = 'axaaxaxaxaxax'
if len(s) > 1:
    r = s[0:2] + s[-2]+s[-1]
    print(r)
else:
    print("Empty str")

axax

In [49]:
s[-2]

'l'

In [59]:
s = 'sasple'
for i in range(len(s)):
    f = ''
    if s[i] not in f:
        f = f + s[i]
    else:
        f = f + '$'
print(f)

e

SyntaxError: invalid syntax (<ipython-input-71-e26bd2e09c48>, line 1)